In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
date_columns = [
                'Account_Created_Date', 'Opportunity_Created_Date',
                'Quote_Expiry_Date', 'Last_Modified_Date',
                'Planned_Delivery_Start_Date','Planned_Delivery_End_Date',
                ]

categorical_columns = [
        'Region', 'Territory', 'Bureaucratic_Code',
        'Source', 'Billing_Country', 'Account_Name',
        'Opportunity_Name', 'Account_Owner', 'Opportunity_Owner',
        'Account_Type', 'Opportunity_Type', 'Quote_Type',
        'Delivery_Terms', 'Brand', 'Product_Type',
        'Size', 'Product_Category_B', 'Currency',
        'Last_Modified_By', 'Product_Family', 'Product_Name',
        'ASP_Currency', 'ASP_(converted)_Currency', 'Delivery_Quarter',
        'Total_Amount_Currency', 'Total_Taxable_Amount_Currency', 'Stage',
        'Prod_Category_A'
    ]

# Columnnas excluidas porque: - tienen igual valor en todos sus registros
#                             - no es valido usarlas
#                             - ya se extrajo información relevante de ellas
#                             - no aporta información relevante
excluded = ['Actual_Delivery_Date', 'Last_Activity',
        'Submitted_for_Approval','Prod_Category_A']

In [3]:
def open_set(dataset):
    
    column_types = { col:'category' for col in categorical_columns }
    
    # read_csv
    df = pd.read_csv(dataset, parse_dates=date_columns, dtype=column_types,
                     index_col='ID', na_values=['Other', 'NaT', 'None'],
                     usecols=lambda x: x not in excluded)

    df['Month'] = pd.to_datetime(df['Month'], format='%Y - %m')
    
    # Agruping regions 
    df.loc[((df.Region == "EMEA")&(df.Territory.str.contains("America"))), "Region"] = "Americas"
    df.rename(columns={"Source ":"Source"},inplace=True)
    df["Source"]= df["Source"].astype("category")

    return df

# Pre-procesamiento de los datos

El objetivo de esta etapa, es recibir los datos "crudos" y realizar procedimientos necesarios para filtrar features de poco valor y crear otros features que revelen información de importancia, para que los modelos de machine learning que luego los utilizarán en una etapa posterior, puedan ralizar un predicción mas precisa.

In [4]:
df1 = open_set("rawdata/Train_TP2_Datos_2020-2C.csv")
df2 = open_set("rawdata/Test_TP2_Datos_2020-2C.csv")

In [5]:
print(f"The train set has {df1.shape[0]} elements and {df1.shape[1]} features")
print(f"The train set has {df2.shape[0]} elements and {df2.shape[1]} features")

The train set has 16947 elements and 47 features
The train set has 2551 elements and 46 features

In [6]:
# Hypotesis: the features that contains more than 90% of NaN values 
#            do not contribute sustancial information
na_values_rate = df1.isna().sum()/len(df1)
na_values_rate = na_values_rate[na_values_rate>0]
na_values_rate

Territory                    0.294978
Source                       0.560394
Billing_Country              0.001593
Sales_Contract_No            0.411459
Account_Type                 0.006609
Brand                        0.974686
Product_Type                 0.970673
Size                         0.965422
Product_Category_B           0.970732
Price                        0.978993
Currency                     0.947188
Quote_Expiry_Date            0.272910
ASP                          0.189355
ASP_(converted)              0.189355
Planned_Delivery_End_Date    0.004426
Total_Amount                 0.003481
dtype: float64

In [7]:
# Drop the most empty features
to_drop = na_values_rate[na_values_rate > 0.90].index.to_list()

trainset = df1.drop(columns = to_drop)
testset = df2.drop(columns= to_drop)

excluded.extend(to_drop)

text = "', '".join(to_drop)
print(f"Columns '{text}' dropped")

Columns 'Brand', 'Product_Type', 'Size', 'Product_Category_B', 'Price', 'Currency' dropped

Para este modelo entonces no se consideraran las columnas ``'Brand'``, ``'Product_Type'``, ``'Size'``, ``'Product_Category_B'``, ``'Price'``, ``'Currency'``

In [8]:
# The remaining features with na_values
contains_na = na_values_rate[na_values_rate <= 0.90].index.to_list()
na_values_rate[contains_na]

Territory                    0.294978
Source                       0.560394
Billing_Country              0.001593
Sales_Contract_No            0.411459
Account_Type                 0.006609
Quote_Expiry_Date            0.272910
ASP                          0.189355
ASP_(converted)              0.189355
Planned_Delivery_End_Date    0.004426
Total_Amount                 0.003481
dtype: float64

In [9]:
def my_fill_na(df,columns):

    result = df.copy()
    dtypes = result[columns].dtypes
    cat = dtypes[dtypes == "category"].index.to_list()
    not_cat = dtypes[dtypes != "category"].index.to_list()
    
    for col in cat:
        if "Other" not in result[col].cat.categories:
            result[col].cat.add_categories("Other",inplace=True)
        result[col].fillna("Other",inplace= True)
    
    for col in not_cat:
        result[col].fillna(result[col].mean(),inplace= True)

    
    return result

In [10]:
trainset = my_fill_na(trainset,contains_na)
testset = my_fill_na(testset,contains_na)

In [11]:
na_train = trainset.isna().sum() > 0
na_test = testset.isna().sum() > 0

print(f"Restan valores nulos en trainset: {na_train.any()}")
print(f"Restan valores nulos en testset: {na_test.any()}")

Restan valores nulos en trainset: False
Restan valores nulos en testset: False

Ya filtramos las features con excesivos Nan values y rellenamos aquellas que su procentage de nan values es moderado, con valores predeterminados.

### Definición del target de los modelos

In [12]:
trainset["target"] = (trainset["Stage"] == "Closed Won").astype(int)
trainset[["Stage","target"]].head(10)

             Stage  target
ID
27761  Closed Lost       0
27760   Closed Won       1
27446   Closed Won       1
16808  Closed Lost       0
16805  Closed Lost       0
16802  Closed Lost       0
16799  Closed Lost       0
27455   Closed Won       1
24353  Closed Lost       0
24355  Closed Lost       0

### Definición de valores categóricos

En esta sección, lo que vamos a hacer es buscar valores categóricos de los features del set de datos de prueba que no hayan sido contemplados en el set de entrenamiento, que por lo consiguiente, el modelo de machine learning los va a desconocer.

Una vez identificados, los reemplazaremos con un valor genérico para "otros valores"

In [13]:
excluded.extend(["Stage","Opportunity_Name"])
results = []
for column in categorical_columns:
    if column in excluded: continue
    
    official_values = trainset[column].cat.categories.to_list()
    test_values = testset[column].cat.categories.to_list()
    
    other_values = set(test_values)
    for value in official_values: 
        other_values.discard(value)
    
    if len(other_values)>0:
        
        if not "Other" in testset[column].cat.categories.to_list():
            testset[column].cat.add_categories("Other",inplace=True)
        
        if not "Other" in trainset[column].cat.categories.to_list():
            trainset[column].cat.add_categories("Other",inplace=True)
            
        testset[column].replace({x:"Other" for x in other_values},inplace=True)
    
        results.append((column,len(other_values)))

In [14]:
others_df = pd.DataFrame(results,columns= ["column", "discarted values"])
others_df

              column  discarted values
0          Territory                 3
1    Billing_Country                 3
2       Account_Name               205
3  Opportunity_Owner                 5
4   Last_Modified_By                 8
5     Product_Family                20
6       Product_Name                50

In [15]:
display(round(others_df["discarted values"].describe(),2))
print(f"\nTotal test values discarted {others_df['discarted values'].sum()}, ",end="")
print(f"%{100*round(others_df['discarted values'].sum()/testset.size,3)} of total test data")

count      7.00
mean      42.00
std       73.81
min        3.00
25%        4.00
50%        8.00
75%       35.00
max      205.00
Name: discarted values, dtype: float64

Total test values discarted 294, %0.3 of total test data

La información descartada es muy poca con respecto al volumen del set. Más adelante veremos si es posible extraer información de esto

### Conversión de features

Queremos manejar los precios en una única unidad monetaria: USD

In [16]:


check1 = (trainset["Total_Amount_Currency"] == "USD").value_counts()
check2 = (trainset["Total_Taxable_Amount_Currency"] == "USD").value_counts()
check3 = (trainset["Total_Amount_Currency"]==trainset["Total_Taxable_Amount_Currency"]).value_counts()

print("Moneda de ASP == Moneda Total_Ammount :               ",check1.index[0],check1.values[0])
print("Moneda de ASP == Moneda Total_Taxable_Ammount:        ",check2.index[0],check2.values[0])
print("Moneda Total_Ammount == Moneda Total_Taxable_Ammount :",check3.index[0],check3.values[0])

Moneda de ASP == Moneda Total_Ammount :                False 9586
Moneda de ASP == Moneda Total_Taxable_Ammount:         False 9600
Moneda Total_Ammount == Moneda Total_Taxable_Ammount : True 16914

In [17]:
economy_columns = ["ASP","ASP_Currency","ASP_(converted)","ASP_(converted)_Currency","Total_Amount","Total_Amount_Currency","Total_Taxable_Amount","Total_Taxable_Amount_Currency"]
trainset.loc[:,economy_columns].sample(10)

,ASP,ASP_Currency,ASP_(converted),ASP_(converted)_Currency,Total_Amount,Total_Amount_Currency,Total_Taxable_Amount,Total_Taxable_Amount_Currency
ID,,,,,,,,
23825,0.450000,USD,0.450000,USD,2250281.25,USD,4500281.25,USD
26213,7.012128,JPY,0.432554,USD,4400.00,JPY,543000.00,JPY
17686,0.440000,EUR,0.497680,USD,193600.00,EUR,193600.00,EUR
6959,0.420000,USD,0.420000,USD,209563.20,USD,422452.80,USD
5116,0.420000,EUR,0.475060,USD,45675.00,EUR,89775.00,EUR
27762,0.530000,EUR,0.599480,USD,261820.00,EUR,261820.00,EUR
5145,48.000000,JPY,0.431540,USD,3410400.00,JPY,3410400.00,JPY
27452,0.500000,USD,0.500000,USD,47040.00,USD,292467.70,USD
19234,0.385000,EUR,0.435470,USD,10395.00,EUR,78445.00,EUR
26461,7.012128,JPY,0.432554,USD,6200.00,JPY,982650.00,JPY

#### Calculo del factor de conversión

In [18]:
# Factor de conversión:  ASP_(converted)/ASP
trainset["USD_factor"] = trainset["ASP_(converted)"]/trainset["ASP"]
testset["USD_factor"] =  testset["ASP_(converted)"]/testset["ASP"]

print("Trainset USD_Factor describe\n")
display(trainset["USD_factor"].describe()) 

print("\n"+("-"*30))
print("\nTestset USD_Factor describe\n")
display(testset["USD_factor"].describe())

Trainset USD_Factor describe

count    1.664700e+04
mean              inf
std               NaN
min      8.865556e-03
25%      6.168651e-02
50%      1.000000e+00
75%      1.131081e+00
max               inf
Name: USD_factor, dtype: float64

------------------------------

Testset USD_Factor describe

count    2536.000000
mean        0.962582
std         0.283236
min         0.008878
25%         1.000000
50%         1.000000
75%         1.131083
max         1.131116
Name: USD_factor, dtype: float64

Tenemos valores anómalos como infinto o NaN, esto se debe a que pueden haber varios valores nulos en las columnas referidas al ASP. Lo que puede significar datos erroneos o faltantes (nunca unca conversión puede ser x/0 o 0/0 ). Procederemos a investigar estos valores:

In [19]:
# Lo que vemos que pasa es que en 300 registros, ASP y ASP_(converted) pueden valer 0 a la vez. Lo cual podría significar que no hay promedio de ventas. 
# En el unico registro que queda, ASP vale 0 y el ASP_(convertad) distinto de cero, por lo que la conversión da infinito.

print("Trainset[USD_factor] NaN values: ",trainset["USD_factor"].isna().sum())
print("Trainset[USD_factor] inf values: ",(trainset["USD_factor"]==np.inf).sum())
print("-"*36)
print("Testset[USD_factor] NaN values: ",testset["USD_factor"].isna().sum())
print("Testset[USD_factor] inf values: ",(testset["USD_factor"]==np.inf).sum())

Trainset[USD_factor] NaN values:  300
Trainset[USD_factor] inf values:  1
------------------------------------
Testset[USD_factor] NaN values:  15
Testset[USD_factor] inf values:  0

In [20]:
economy_features= ["Opportunity_ID","ASP","ASP_Currency","ASP_(converted)","USD_factor","Total_Amount",
                   "Total_Amount_Currency","Total_Taxable_Amount","Total_Taxable_Amount_Currency"]

condition = (trainset["USD_factor"]==np.inf)| ((trainset["ASP"]==0) & (trainset["ASP_(converted)"]==0))
selected = trainset.loc[condition,economy_features]
selected

,Opportunity_ID,ASP,ASP_Currency,ASP_(converted),USD_factor,Total_Amount,Total_Amount_Currency,Total_Taxable_Amount,Total_Taxable_Amount_Currency
ID,,,,,,,,,
24319,41,0.0,JPY,0.0,NaN,20280.0,JPY,20280.0,JPY
19082,105,0.0,JPY,0.0,NaN,34000.0,JPY,390050.0,JPY
19085,105,0.0,JPY,0.0,NaN,26000.0,JPY,390050.0,JPY
19089,105,0.0,JPY,0.0,NaN,1200.0,JPY,390050.0,JPY
19092,105,0.0,JPY,0.0,NaN,6200.0,JPY,390050.0,JPY
...,...,...,...,...,...,...,...,...,...
19011,12514,0.0,EUR,0.0,NaN,0.0,EUR,0.0,EUR
28261,12520,0.0,EUR,0.0,NaN,0.0,EUR,0.0,EUR
19923,12659,0.0,EUR,0.0,NaN,0.0,EUR,0.0,EUR
28314,12673,0.0,USD,0.0,NaN,3380000.0,USD,3380000.0,USD
19044,12704,0.0,EUR,0.0,NaN,0.0,EUR,0.0,EUR

In [21]:
condition = (trainset["USD_factor"]==np.inf) | (trainset["USD_factor"].isna()) 
print("(Trainset) Registros 'USD_factor == Nan' con currency en USD: ",(condition&(trainset["ASP_Currency"]=="USD")).sum())

condition = (testset["USD_factor"]==np.inf) | (testset["USD_factor"].isna()) 
print("(Testset) Registros 'USD_factor == Nan' con currency en USD: ",(condition&(testset["ASP_Currency"]=="USD")).sum())

(Trainset) Registros 'USD_factor == Nan' con currency en USD:  54
(Testset) Registros 'USD_factor == Nan' con currency en USD:  2

In [22]:
# Veo casos particulares donde la conversion debería ser 1 y no lo es
len1 = trainset[(trainset["ASP_Currency"]=="USD")&(trainset["USD_factor"] != 1)][economy_features+["ASP_(converted)_Currency"]].shape[0]
len2 = testset[(testset["ASP_Currency"]=="USD")&(testset["USD_factor"] != 1)][economy_features+["ASP_(converted)_Currency"]].shape[0]

print("Registros donde se maneja USD en todas sus columnas económicas y la conversión no es 1")
print(f"Trainset:  {len1}\t ({round(100*len1/trainset.shape[0],1)}% del set)")
print(f"Testset:   {len2}\t ({round(100*len2/testset.shape[0],1)}% del set)")

Registros donde se maneja USD en todas sus columnas económicas y la conversión no es 1
Trainset:  525	 (3.1% del set)
Testset:   64	 (2.5% del set)

In [23]:
# Nos aseguramos que los casos en donde la moneda sea dolares, la conversión sea 1

trainset.loc[trainset["ASP_Currency"]=="USD","USD_factor"] = 1
testset.loc[testset["ASP_Currency"]=="USD","USD_factor"] = 1

In [24]:
originalTrain = trainset.loc[(trainset["Total_Amount_Currency"] == "USD")|
                             (trainset["Total_Taxable_Amount_Currency"] == "USD"),["Total_Amount","Total_Taxable_Amount"]]
originalTest = testset.loc[(testset["Total_Amount_Currency"] == "USD")|
                             (testset["Total_Taxable_Amount_Currency"] == "USD"),["Total_Amount","Total_Taxable_Amount"]]

Finalmente, terminamos de calcular/estimar el factor de conversión y convertimos los precios

In [25]:
# Vamos a realzar un Mean Encoding para calcular el factor de conversión de la moneda como un promedio histórico
# Para finalmente realizar la conversión

################ Calculating Mean Values ################
# Train
trainset["ASP_Mean"]             = trainset.groupby("ASP_Currency")["ASP"].transform("mean")
trainset["ASP_Mean_(converted)"] = trainset.groupby("ASP_Currency")["ASP_(converted)"].transform("mean")

# Test
testset["ASP_Mean"]              = testset.groupby("ASP_Currency")["ASP"].transform("mean")
testset["ASP_Mean_(converted)"]  = testset.groupby("ASP_Currency")["ASP_(converted)"].transform("mean")


########### Mean encoding for the NAN values #############
# Train
condition = (trainset["USD_factor"].isna()) | (trainset["USD_factor"] == np.inf)
trainset.loc[condition,"USD_factor"] = trainset[condition]["ASP_Mean_(converted)"]/\
                                       trainset[condition]["ASP_Mean"]

# Test
condition = (testset["USD_factor"].isna()) | (testset["USD_factor"] == np.inf)
testset.loc[condition,"USD_factor"] = testset[condition]["ASP_Mean_(converted)"]/\
                                      testset[condition]["ASP_Mean"]

In [26]:
##################### Conversion #####################

# ------------------Train------------------------

# Initcializo y luego convierto
trainset["Total_Amount_USD"]         = trainset["Total_Amount"]
trainset["Total_Taxable_Amount_USD"] = trainset["Total_Taxable_Amount"]

# Conversión de Total_Amount
condition = trainset["Total_Amount_Currency"] != "USD" 
trainset.loc[condition,"Total_Amount_USD"]     = trainset[condition]["Total_Amount"]*\
                                                 trainset[condition]["USD_factor"]

# Conversión de Total_Taxable_Amount
condition = trainset["Total_Taxable_Amount_Currency"] != "USD" 
trainset.loc[condition,"Total_Taxable_Amount_USD"] = trainset[condition]["Total_Taxable_Amount"]*\
                                                     trainset[condition]["USD_factor"]

# ------------------Test------------------------

# Initcializo y luego convierto
testset["Total_Amount_USD"]         = testset["Total_Amount"]
testset["Total_Taxable_Amount_USD"] = testset["Total_Taxable_Amount"]

# Conversión de Total_Amount
condition = testset["Total_Amount_Currency"] != "USD" 
testset.loc[condition,"Total_Amount_USD"] = testset[condition]["Total_Amount"]*\
                                            testset[condition]["USD_factor"]
# Conversión de Total_Taxable_Amount
condition = testset["Total_Taxable_Amount_Currency"] != "USD"
testset.loc[condition,"Total_Taxable_Amount_USD"] = testset[condition]["Total_Taxable_Amount"]*\
                                                    testset[condition]["USD_factor"]

excluded.extend(["Total_Amount","Total_Taxable_Amount"])

# Feature engineering

Objetivos:

   * 'Aplanar' varios registros de una misma oportunidad, en un solo registro
   * Encodear variables categóricas a partir de información de otros features
   * Encodear variables categóricas con binary encoding
   * Crear interacciones nuevas entre features

### Flatten opportunities

En el análisis exploratorio, revelamos que las oportunidades pueden tener un solo item o varios, dejando varios registros en el set de datos. Tambien, vimos cuales son las features que pueden variar en los items de una misma oportunidad.

En base a esto, vamos a hacer feature engineering para poder extraer información de estos distintos valores que pueden tomar estas features, y dejarla plasmada en una sola feature que califique a la oportunidad en cuestión.

In [27]:
# Evaluamos cada feature que registra variaciones para una misma oportunidad
# y proponemos una manera de "aplanar" esa variacion en un solo valor.

#  "Product_Name"               # Hacer bins segun mas vendido y contabilizar apariciones en los bins | promedio de aparicion y promediar los items 
#  "Product_Family"             # Hacer bins segun mas vendido y contabilizar apariciones en los bins | promedio de aparicion y promediar los items
#  "Total_Amount"               # Promedios, desvio estandar
#  "Planned_Delivery_End_Date"  # Rango maximo, Rango minimo, Rango promedio  \___
#  "Planned_Delivery_Start_Date"# Rango maximo, Rango minimo, Rango promedio  /
#  "ASP_(converted)"            # Promedios, desvio estandar
#  "ASP"                        # [X] descartado, pordría indicarse con la anterior
#  "TRF"                        # Promedios, desvio estandar
#  "Delivery_Quarter"           # [X] si varía podría ser porque cambien los planned_delivery dates..
#  "Delivery_Year"              # [X] ..
#  "Month"                      # [X] .. y casualmente cambie de año o de trimestre. Descartamos esta variación
                        

to_flat=   ["Product_Name",
           "Product_Family",
           "Total_Amount",
           "Planned_Delivery_End_Date",
           "Planned_Delivery_Start_Date",
           "ASP_(converted)",
           "ASP",
           "TRF",
           "Delivery_Quarter",     
           "Delivery_Year",
           "Month"]

In [28]:
grouped = trainset.groupby(["Product_Family","Product_Name"]).agg({"target":"count"})
grouped = grouped.reset_index()
grouped

          Product_Family      Product_Name  target
0       Product_Family_0    Product_Name_0     165
1       Product_Family_0    Product_Name_1       0
2       Product_Family_0   Product_Name_10       0
3       Product_Family_0  Product_Name_100       0
4       Product_Family_0  Product_Name_101       0
...                  ...               ...     ...
104191             Other  Product_Name_504       0
104192             Other  Product_Name_510       0
104193             Other  Product_Name_512       0
104194             Other   Product_Name_87       0
104195             Other             Other       0

[104196 rows x 3 columns]

In [29]:
print(f"Cantidad de combinaciones familia-producto con por lo menos 1 registro: {len(grouped.loc[grouped['target']>0])}")
print(f"Cantidad de valores de Product_Name: {len(grouped['Product_Name'].drop_duplicates())}")

Cantidad de combinaciones familia-producto con por lo menos 1 registro: 456
Cantidad de valores de Product_Name: 457

Esto nos confirma que cada producto pertenece a una sola familia excepto "Otros" que no pertenece a ninguna. Para realizar el "Flatten" de productos elegidos en una oportunidad, usamos su familia.

In [30]:
grouped = trainset["Product_Family"].value_counts()
families = { k:v for k,v in grouped.items()}

grouped = trainset["Product_Name"].value_counts()
products = { k:v for k,v in grouped.items()}

In [31]:
# Flatten opportunity_ID

# 
trainset["Family_Group"] = trainset["Product_Family"].agg(lambda x: families[x])
trainset["Product_Group"] = trainset["Product_Name"].agg(lambda x: products[x])
trainset["Planned_range"] =  trainset["Planned_Delivery_End_Date"] - trainset["Planned_Delivery_Start_Date"]

testset["Family_Group"] = testset["Product_Family"].agg(lambda x: families[x])
testset["Product_Group"] = testset["Product_Name"].agg(lambda x: products[x])
testset["Planned_range"] =  testset["Planned_Delivery_End_Date"] - testset["Planned_Delivery_Start_Date"]

In [32]:
trainset["Family_group_mean"]   = trainset.groupby("Opportunity_ID")["Family_Group"].transform("mean")
trainset["Product_group_mean"]  = trainset.groupby("Opportunity_ID")["Product_Group"].transform("mean")
trainset["Items"]               = trainset.groupby("Opportunity_ID")["target"].transform("count")
trainset["Total_Amount_mean"]   = trainset.groupby("Opportunity_ID")["Total_Amount_USD"].transform("mean")  #Promedio dolarizado
trainset["ASP_(converted)_mean"]= trainset.groupby("Opportunity_ID")["ASP_(converted)"].transform("mean")
trainset["TRF_min"]             = trainset.groupby("Opportunity_ID")["TRF"].transform("min")
trainset["TRF_max"]             = trainset.groupby("Opportunity_ID")["TRF"].transform("max")
trainset["Planned_min_range"]   = trainset.groupby("Opportunity_ID")["Planned_range"].transform("min")
trainset["Planned_max_range"]   = trainset.groupby("Opportunity_ID")["Planned_range"].transform("max")
trainset["Planned_min_range"]   = trainset["Planned_min_range"].dt.days
trainset["Planned_max_range"]   = trainset["Planned_max_range"].dt.days
trainset.info()

testset["Family_group_mean"]    = testset.groupby("Opportunity_ID")["Family_Group"].transform("mean")
testset["Product_group_mean"]   = testset.groupby("Opportunity_ID")["Product_Group"].transform("mean")
testset["Items"]                = testset.groupby("Opportunity_ID")["Opportunity_Name"].transform("count")
testset["Total_Amount_mean"]    = testset.groupby("Opportunity_ID")["Total_Amount_USD"].transform("mean")
testset["ASP_(converted)_mean"] = testset.groupby("Opportunity_ID")["ASP_(converted)"].transform("mean")
testset["TRF_min"]              = testset.groupby("Opportunity_ID")["TRF"].transform("min")
testset["TRF_max"]              = testset.groupby("Opportunity_ID")["TRF"].transform("max")
testset["Planned_min_range"]    = testset.groupby("Opportunity_ID")["Planned_range"].transform("min")
testset["Planned_max_range"]    = testset.groupby("Opportunity_ID")["Planned_range"].transform("max")
testset["Planned_min_range"]    = testset["Planned_min_range"].dt.days
testset["Planned_max_range"]    = testset["Planned_max_range"].dt.days
testset.info()

excluded.extend(to_flat)
excluded.extend(["Family_Group","Product_Group","Planned_range"])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16947 entries, 27761 to 28318
Data columns (total 59 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Region                              16947 non-null  category
 1   Territory                           16947 non-null  category
 2   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 3   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 4   Bureaucratic_Code_0_Approval        16947 non-null  int64
 5   Bureaucratic_Code_0_Approved        16947 non-null  int64
 6   Bureaucratic_Code                   16947 non-null  category
 7   Account_Created_Date                16947 non-null  datetime64[ns]
 8   Source                              16947 non-null  category
 9   Billing_Country                     16947 non-null  category
 10  Account_Name                        16947 non-null  category
 11  Opportunity_Name                    16947 non-null  category
 12  Opportunity_ID                      16947 non-null  int64
 13  Sales_Contract_No                   16947 non-null  float64
 14  Account_Owner                       16947 non-null  category
 15  Opportunity_Owner                   16947 non-null  category
 16  Account_Type                        16947 non-null  category
 17  Opportunity_Type                    16947 non-null  category
 18  Quote_Type                          16947 non-null  category
 19  Delivery_Terms                      16947 non-null  category
 20  Opportunity_Created_Date            16947 non-null  datetime64[ns]
 21  Quote_Expiry_Date                   16947 non-null  datetime64[ns]
 22  Last_Modified_Date                  16947 non-null  datetime64[ns]
 23  Last_Modified_By                    16947 non-null  category
 24  Product_Family                      16947 non-null  category
 25  Product_Name                        16947 non-null  category
 26  ASP_Currency                        16947 non-null  category
 27  ASP                                 16947 non-null  float64
 28  ASP_(converted)_Currency            16947 non-null  category
 29  ASP_(converted)                     16947 non-null  float64
 30  Planned_Delivery_Start_Date         16947 non-null  datetime64[ns]
 31  Planned_Delivery_End_Date           16947 non-null  datetime64[ns]
 32  Month                               16947 non-null  datetime64[ns]
 33  Delivery_Quarter                    16947 non-null  category
 34  Delivery_Year                       16947 non-null  int64
 35  TRF                                 16947 non-null  int64
 36  Total_Amount_Currency               16947 non-null  category
 37  Total_Amount                        16947 non-null  float64
 38  Total_Taxable_Amount_Currency       16947 non-null  category
 39  Total_Taxable_Amount                16947 non-null  float64
 40  Stage                               16947 non-null  category
 41  target                              16947 non-null  int64
 42  USD_factor                          16947 non-null  float64
 43  ASP_Mean                            16947 non-null  float64
 44  ASP_Mean_(converted)                16947 non-null  float64
 45  Total_Amount_USD                    16947 non-null  float64
 46  Total_Taxable_Amount_USD            16947 non-null  float64
 47  Family_Group                        16947 non-null  int64
 48  Product_Group                       16947 non-null  int64
 49  Planned_range                       16947 non-null  timedelta64[ns]
 50  Family_group_mean                   16947 non-null  float64
 51  Product_group_mean                  16947 non-null  float64
 52  Items                               16947 non-null  int64
 53  Total_Amount_mean                   16947 non-null  float64
 54  ASP_(converted)_mean                16947 non-null  float64
 55  TRF_min                             16947 non-null  int64
 56  TRF_max                             16947 non-null  int64
 57  Planned_min_range                   16947 non-null  int64
 58  Planned_max_range                   16947 non-null  int64
dtypes: category(22), datetime64[ns](7), float64(14), int64(15), timedelta64[ns](1)
memory usage: 5.9 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2551 entries, 6140 to 11263
Data columns (total 57 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Region                              2551 non-null   category
 1   Territory                           2551 non-null   object
 2   Pricing, Delivery_Terms_Quote_Appr  2551 non-null   int64
 3   Pricing, Delivery_Terms_Approved    2551 non-null   int64
 4   Bureaucratic_Code_0_Approval        2551 non-null   int64
 5   Bureaucratic_Code_0_Approved        2551 non-null   int64
 6   Bureaucratic_Code                   2551 non-null   category
 7   Account_Created_Date                2551 non-null   datetime64[ns]
 8   Source                              2551 non-null   category
 9   Billing_Country                     2551 non-null   object
 10  Account_Name                        2551 non-null   object
 11  Opportunity_Name                    2551 non-null   category
 12  Opportunity_ID                      2551 non-null   int64
 13  Sales_Contract_No                   2551 non-null   float64
 14  Account_Owner                       2551 non-null   category
 15  Opportunity_Owner                   2551 non-null   object
 16  Account_Type                        2551 non-null   category
 17  Opportunity_Type                    2551 non-null   category
 18  Quote_Type                          2551 non-null   category
 19  Delivery_Terms                      2551 non-null   category
 20  Opportunity_Created_Date            2551 non-null   datetime64[ns]
 21  Quote_Expiry_Date                   2551 non-null   datetime64[ns]
 22  Last_Modified_Date                  2551 non-null   datetime64[ns]
 23  Last_Modified_By                    2551 non-null   object
 24  Product_Family                      2551 non-null   object
 25  Product_Name                        2551 non-null   object
 26  ASP_Currency                        2551 non-null   category
 27  ASP                                 2551 non-null   float64
 28  ASP_(converted)_Currency            2551 non-null   category
 29  ASP_(converted)                     2551 non-null   float64
 30  Planned_Delivery_Start_Date         2551 non-null   datetime64[ns]
 31  Planned_Delivery_End_Date           2551 non-null   datetime64[ns]
 32  Month                               2551 non-null   datetime64[ns]
 33  Delivery_Quarter                    2551 non-null   category
 34  Delivery_Year                       2551 non-null   int64
 35  TRF                                 2551 non-null   int64
 36  Total_Amount_Currency               2551 non-null   category
 37  Total_Amount                        2551 non-null   float64
 38  Total_Taxable_Amount_Currency       2551 non-null   category
 39  Total_Taxable_Amount                2551 non-null   float64
 40  USD_factor                          2551 non-null   float64
 41  ASP_Mean                            2551 non-null   float64
 42  ASP_Mean_(converted)                2551 non-null   float64
 43  Total_Amount_USD                    2551 non-null   float64
 44  Total_Taxable_Amount_USD            2551 non-null   float64
 45  Family_Group                        2551 non-null   int64
 46  Product_Group                       2551 non-null   int64
 47  Planned_range                       2551 non-null   timedelta64[ns]
 48  Family_group_mean                   2551 non-null   float64
 49  Product_group_mean                  2551 non-null   float64
 50  Items                               2551 non-null   int64
 51  Total_Amount_mean                   2551 non-null   float64
 52  ASP_(converted)_mean                2551 non-null   float64
 53  TRF_min                             2551 non-null   int64
 54  TRF_max                             2551 non-null   int64
 55  Planned_min_range                   2551 non-null   int64
 56  Planned_max_range                   2551 non-null   int64
dtypes: category(14), datetime64[ns](7), float64(14), int64(14), object(7), timedelta64[ns](1)
memory usage: 970.7+ KB

### Mean encoding

Proponemos encodear la columna "Territorio" como el promedio de los TRF solicitados en esa región. Nos basamos en el negocio mismo, el cual ofrece equipos de refrigeración, que se suponen que serán más solicitados en cantidad y en potencia (TRF) en regiones donde hace más calor. Es por esto que creemos que el promedio de los TRF, en un territorio dado, califica conceptualmente bien a ese territorio.

In [33]:
import math

n= len(trainset["Territory"].value_counts().index.to_list())
print("Columnas de Binary-Encoding ahorradas: ",int(math.log2(n))+1)
print("Columnas usadas con mean encoding: 2")

Columnas de Binary-Encoding ahorradas:  7
Columnas usadas con mean encoding: 2

In [34]:
trainset["Territory_TRF_mean"]  = trainset.groupby("Territory")["TRF"].transform("mean")
trainset["Territory_TRF_count"]  = trainset.groupby("Territory")["TRF"].transform("count")
trainset["Territory_TRF_max"]  = trainset.groupby("Territory")["TRF"].transform("max")

testset["Territory_TRF_mean"]  = testset.groupby("Territory")["TRF"].transform("mean")
testset["Territory_TRF_count"]  = testset.groupby("Territory")["TRF"].transform("count")
testset["Territory_TRF_max"]  = testset.groupby("Territory")["TRF"].transform("max")

excluded.extend(["Territory"])

In [35]:
testset[["Territory","TRF"]].head(5)

     Territory  TRF
ID
6140   Germany    0
6146   Germany    0
6151   Germany    0
6118   Germany    1
6124   Germany    0

### New features from others

Crearemos columnas referidas al intervalo en dias que hay entre dos fechas relevalntes

In [36]:
date_columns

['Account_Created_Date',
 'Opportunity_Created_Date',
 'Quote_Expiry_Date',
 'Last_Modified_Date',
 'Planned_Delivery_Start_Date',
 'Planned_Delivery_End_Date']

* `Opportunity_Created_Date` y `Quote_Expiry_Date`

In [37]:
trainset["QuoteExpiry-OppCreated"] = (trainset["Quote_Expiry_Date"]-trainset["Opportunity_Created_Date"]).dt.days
testset["QuoteExpiry-OppCreated"]  = (testset["Quote_Expiry_Date"] -testset["Opportunity_Created_Date"]).dt.days

* `Opportunity_Created_Date` y `Account_Created_Date`

In [38]:
trainset["OppCreated-AccCreated"] = (trainset["Opportunity_Created_Date"]-trainset["Account_Created_Date"]).dt.days
testset["OppCreated-AccCreated"]  = (testset["Opportunity_Created_Date"] -testset["Account_Created_Date"]).dt.days

* `Opportunity_Created_Date` y `Last_Modified_Date`

In [39]:
trainset["OppCreated-LastMod"] = (trainset["Opportunity_Created_Date"]-trainset["Last_Modified_Date"]).dt.days
testset["OppCreated-LastMod"]  = (testset["Opportunity_Created_Date"] -testset["Last_Modified_Date"]).dt.days

* `Opportunity_Created_Date` y `Planned_Delivery_Start_Date`

In [40]:
trainset["PlanStart-OppCreated"] = (trainset["Planned_Delivery_Start_Date"]-trainset["Opportunity_Created_Date"]).dt.days
testset["PlanStart-OppCreated"]  = (testset["Planned_Delivery_Start_Date"] -testset["Opportunity_Created_Date"]).dt.days

### One-hot encoding 
Realizaremos un dataset básico para poder correr el modelo por primera vez y observar los resultados.
Luego realizaremos mejoras e ingeniería de features para ver como se comporta el modelo.

In [41]:
from sklearn.preprocessing import OneHotEncoder

In [42]:
print(f"El set de entrenamiento tiene {trainset.size} elementos")
print(f"El set de test tiene {testset.size} elementos")

El set de entrenamiento tiene 1118502 elementos
El set de test tiene 163264 elementos

In [43]:
excluded.extend(["ASP_(converted)_Currency","Total_Taxable_Amount_Currency",'target'])

toEncode = set([col if col not in excluded else "" for col in categorical_columns])
toEncode.discard("")
toEncode = list(toEncode)

print("Features categóricos a encodear")
toEncode

Features categóricos a encodear

['Delivery_Terms',
 'Account_Name',
 'Account_Type',
 'Total_Amount_Currency',
 'Account_Owner',
 'Opportunity_Type',
 'Quote_Type',
 'ASP_Currency',
 'Bureaucratic_Code',
 'Source',
 'Billing_Country',
 'Opportunity_Owner',
 'Last_Modified_By',
 'Region']

In [44]:
enc = OneHotEncoder(drop='if_binary')
enc.fit(trainset[toEncode])
ohed = pd.DataFrame(enc.transform(trainset[toEncode]).toarray())
print(f"Shape: {ohed.shape}")
print(f"Size: {ohed.size}")
ohed.info()

Shape: (16947, 1949)
Size: 33029703
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Columns: 1949 entries, 0 to 1948
dtypes: float64(1949)
memory usage: 252.0 MB

Decidimos abandonar esta propuesta debido a la poca escalabilidad que tiene este método. Debido a las numerosas columnas categóricas con numerosos valores posibles cada una, necesitamos un total de ``2.723`` columnas para `16.947` entradas, lo cual nos deja un total de `46.146.681` valores en nuestra tabla.

### Binary encoding 

Este método nos permite encodear las features categóricas reduciendo considerablemente el dataset. Si suponemos que los 16.947 valores categóricos posibles se distribuyen uniformemente en las 7 columnas, entonces necesitaremos ``⌊log_2(16.947/7)⌋ + 1  = 9`` columnas nuevas por cada columna categórica original del dataset. En total ``9*7 = 63`` una propuesta cuestionable pero mucho mejor que la anterior.

In [45]:
import math
class BinaryEncoding():
    
    def __init__(self):
        self.__encodings = {}
        
    def __make_encoding(self,name,categories):

        encoding = {}
        n_cols = int(math.log(len(categories),2))+1
        cols_names = [ name+"_"+str(x) for x in range(n_cols) ]

        for i in range(len(categories)):
            encoding[categories[i]] = list(f'{bin(i)[2:]}'.zfill(n_cols))

        return (encoding,cols_names)
    
    def encode_Series(self, serie, name,verbose=False):
        
        
        if not name in self.__encodings:

            categories = serie.cat.categories.to_list()
            self.__encodings[name] =  self.__make_encoding(name,categories)
        
        encoding,cols_names = self.__encodings[name]
        data = []
        indexs = []
        
        for index, value in serie.items():

            data.append(encoding[value])
            indexs.append(index)

        df_result = pd.DataFrame(data,columns=cols_names,index=indexs)
        return df_result,cols_names
    
    def getEncoding(self):
        return self.__encodings
    
    def encode_DataFrame(self, df, toEncode, verbose = False):

        full_encoded,columns = self.encode_Series(df[toEncode[0]],toEncode[0],verbose)
       
        for col in toEncode[1:]:
            
            encoding,col_names = self.encode_Series(df[col],col,verbose)
            full_encoded[col_names] = encoding

        if verbose: self.evaluate_encoding(df[toEncode],full_encoded)

        return full_encoded
    
    def evaluate_encoding(self,original,encoded):

        # Recuento de cada una de las combinaciones de 
        # la lista de features categóricos sin encodear
        count1 = original.value_counts().to_frame()[0].values

        # Recuento de cada una de las combinaciones de 
        # la lista de features categóricos ENCODEADOS
        count2 = encoded.value_counts().to_frame()[0].values

        # Comparación
        print("El encoding fue realizado correctamente: ", np.equal(count1,count2).all())

In [46]:
encoder = BinaryEncoding()
trainEncoded = encoder.encode_DataFrame(trainset,toEncode,verbose=True)
testEncoded = encoder.encode_DataFrame(testset,toEncode,verbose=True)

El encoding fue realizado correctamente:  True
El encoding fue realizado correctamente:  True

In [47]:
print(f"Train-encoded shape: {trainEncoded.shape}")
print(f"Train-encoded size: {trainEncoded.size}")
print("--------------------------------")
print(f"Test-encoded shape: {testEncoded.shape}")
print(f"Test-encoded size: {testEncoded.size}")

Train-encoded shape: (16947, 66)
Train-encoded size: 1118502
--------------------------------
Test-encoded shape: (2551, 66)
Test-encoded size: 168366

Pudimos encodear las columnas categóricas reduciendo notablemente el espacio. El cálculo de columnas utilizadas previo valía con la suposición de que todas las features tenían la misma cantidad de valores. Pero aún no cumpliendose, la diferencia de columnas es poca con respecto al resultado obtenido con One Hot Encoding

Terminamos este procesamiento de datos, para ver como un modelo de RandomForest se comporta frente a esto.

In [48]:
print("Excluidas:\n")
display(excluded)

print("\nEncodeadas:\n")
display(toEncode)

Excluidas:

['Actual_Delivery_Date',
 'Last_Activity',
 'Submitted_for_Approval',
 'Prod_Category_A',
 'Brand',
 'Product_Type',
 'Size',
 'Product_Category_B',
 'Price',
 'Currency',
 'Stage',
 'Opportunity_Name',
 'Total_Amount',
 'Total_Taxable_Amount',
 'Product_Name',
 'Product_Family',
 'Total_Amount',
 'Planned_Delivery_End_Date',
 'Planned_Delivery_Start_Date',
 'ASP_(converted)',
 'ASP',
 'TRF',
 'Delivery_Quarter',
 'Delivery_Year',
 'Month',
 'Family_Group',
 'Product_Group',
 'Planned_range',
 'Territory',
 'ASP_(converted)_Currency',
 'Total_Taxable_Amount_Currency',
 'target']

Encodeadas:

['Delivery_Terms',
 'Account_Name',
 'Account_Type',
 'Total_Amount_Currency',
 'Account_Owner',
 'Opportunity_Type',
 'Quote_Type',
 'ASP_Currency',
 'Bureaucratic_Code',
 'Source',
 'Billing_Country',
 'Opportunity_Owner',
 'Last_Modified_By',
 'Region']

In [49]:
excluded.extend(date_columns+['ASP_Mean','ASP_Mean_(converted)'])
final_cols = list()
categorical_columns.append("target")
for col in trainset.columns.to_list():
    if not col in excluded+categorical_columns:
        final_cols.append(col)
print(f"Selected {len(final_cols)} features no categóricos")
final_cols

Selected 25 features no categóricos

['Pricing, Delivery_Terms_Quote_Appr',
 'Pricing, Delivery_Terms_Approved',
 'Bureaucratic_Code_0_Approval',
 'Bureaucratic_Code_0_Approved',
 'Opportunity_ID',
 'Sales_Contract_No',
 'USD_factor',
 'Total_Amount_USD',
 'Total_Taxable_Amount_USD',
 'Family_group_mean',
 'Product_group_mean',
 'Items',
 'Total_Amount_mean',
 'ASP_(converted)_mean',
 'TRF_min',
 'TRF_max',
 'Planned_min_range',
 'Planned_max_range',
 'Territory_TRF_mean',
 'Territory_TRF_count',
 'Territory_TRF_max',
 'QuoteExpiry-OppCreated',
 'OppCreated-AccCreated',
 'OppCreated-LastMod',
 'PlanStart-OppCreated']

In [50]:
finalTrain = trainset.loc[:,final_cols+["target"]]
finalTrain[trainEncoded.columns.to_list()] = trainEncoded
finalTrain.drop_duplicates("Opportunity_ID",inplace=True)
finalTrain.shape

(9841, 92)

In [51]:
finalTest = testset.loc[:,final_cols]
finalTest[testEncoded.columns.to_list()] = testEncoded
finalTest.drop_duplicates("Opportunity_ID",inplace=True)
finalTest.shape

(1567, 91)

In [52]:
finalTrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9841 entries, 27761 to 28318
Data columns (total 92 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Pricing, Delivery_Terms_Quote_Appr  9841 non-null   int64
 1   Pricing, Delivery_Terms_Approved    9841 non-null   int64
 2   Bureaucratic_Code_0_Approval        9841 non-null   int64
 3   Bureaucratic_Code_0_Approved        9841 non-null   int64
 4   Opportunity_ID                      9841 non-null   int64
 5   Sales_Contract_No                   9841 non-null   float64
 6   USD_factor                          9841 non-null   float64
 7   Total_Amount_USD                    9841 non-null   float64
 8   Total_Taxable_Amount_USD            9841 non-null   float64
 9   Family_group_mean                   9841 non-null   float64
 10  Product_group_mean                  9841 non-null   float64
 11  Items                               9841 non-null   int64
 12  Total_Amount_mean                   9841 non-null   float64
 13  ASP_(converted)_mean                9841 non-null   float64
 14  TRF_min                             9841 non-null   int64
 15  TRF_max                             9841 non-null   int64
 16  Planned_min_range                   9841 non-null   int64
 17  Planned_max_range                   9841 non-null   int64
 18  Territory_TRF_mean                  9841 non-null   float64
 19  Territory_TRF_count                 9841 non-null   int64
 20  Territory_TRF_max                   9841 non-null   int64
 21  QuoteExpiry-OppCreated              9841 non-null   int64
 22  OppCreated-AccCreated               9841 non-null   int64
 23  OppCreated-LastMod                  9841 non-null   int64
 24  PlanStart-OppCreated                9841 non-null   int64
 25  target                              9841 non-null   int64
 26  Delivery_Terms_0                    9841 non-null   object
 27  Delivery_Terms_1                    9841 non-null   object
 28  Delivery_Terms_2                    9841 non-null   object
 29  Delivery_Terms_3                    9841 non-null   object
 30  Account_Name_0                      9841 non-null   object
 31  Account_Name_1                      9841 non-null   object
 32  Account_Name_2                      9841 non-null   object
 33  Account_Name_3                      9841 non-null   object
 34  Account_Name_4                      9841 non-null   object
 35  Account_Name_5                      9841 non-null   object
 36  Account_Name_6                      9841 non-null   object
 37  Account_Name_7                      9841 non-null   object
 38  Account_Name_8                      9841 non-null   object
 39  Account_Name_9                      9841 non-null   object
 40  Account_Name_10                     9841 non-null   object
 41  Account_Type_0                      9841 non-null   object
 42  Account_Type_1                      9841 non-null   object
 43  Account_Type_2                      9841 non-null   object
 44  Total_Amount_Currency_0             9841 non-null   object
 45  Total_Amount_Currency_1             9841 non-null   object
 46  Total_Amount_Currency_2             9841 non-null   object
 47  Account_Owner_0                     9841 non-null   object
 48  Account_Owner_1                     9841 non-null   object
 49  Account_Owner_2                     9841 non-null   object
 50  Account_Owner_3                     9841 non-null   object
 51  Account_Owner_4                     9841 non-null   object
 52  Account_Owner_5                     9841 non-null   object
 53  Opportunity_Type_0                  9841 non-null   object
 54  Opportunity_Type_1                  9841 non-null   object
 55  Opportunity_Type_2                  9841 non-null   object
 56  Opportunity_Type_3                  9841 non-null   object
 57  Opportunity_Type_4                  9841 non-null   object
 58  Quote_Type_0                        9841 non-null   object
 59  Quote_Type_1                        9841 non-null   object
 60  ASP_Currency_0                      9841 non-null   object
 61  ASP_Currency_1                      9841 non-null   object
 62  ASP_Currency_2                      9841 non-null   object
 63  Bureaucratic_Code_0                 9841 non-null   object
 64  Bureaucratic_Code_1                 9841 non-null   object
 65  Bureaucratic_Code_2                 9841 non-null   object
 66  Source_0                            9841 non-null   object
 67  Source_1                            9841 non-null   object
 68  Source_2                            9841 non-null   object
 69  Source_3                            9841 non-null   object
 70  Billing_Country_0                   9841 non-null   object
 71  Billing_Country_1                   9841 non-null   object
 72  Billing_Country_2                   9841 non-null   object
 73  Billing_Country_3                   9841 non-null   object
 74  Billing_Country_4                   9841 non-null   object
 75  Billing_Country_5                   9841 non-null   object
 76  Billing_Country_6                   9841 non-null   object
 77  Opportunity_Owner_0                 9841 non-null   object
 78  Opportunity_Owner_1                 9841 non-null   object
 79  Opportunity_Owner_2                 9841 non-null   object
 80  Opportunity_Owner_3                 9841 non-null   object
 81  Opportunity_Owner_4                 9841 non-null   object
 82  Opportunity_Owner_5                 9841 non-null   object
 83  Last_Modified_By_0                  9841 non-null   object
 84  Last_Modified_By_1                  9841 non-null   object
 85  Last_Modified_By_2                  9841 non-null   object
 86  Last_Modified_By_3                  9841 non-null   object
 87  Last_Modified_By_4                  9841 non-null   object
 88  Last_Modified_By_5                  9841 non-null   object
 89  Region_0                            9841 non-null   object
 90  Region_1                            9841 non-null   object
 91  Region_2                            9841 non-null   object
dtypes: float64(9), int64(17), object(66)
memory usage: 7.0+ MB

In [53]:
# Se eliminaron las columnas vacías o con valores iguales
# Se eliminaron features con mas del 90% de registros NaN
# Se rellenaron nan_values con promedios para features numéricos y con "Others" para categóricos
# Se eliminaron valores categóricos del set de test que no estan en el set de entrenamiento
# Se convirtieron valores monetarios en distintas monedas a valores dolarizados
# Se unificaron los items en un mismo regirstro con igual Opportunity_ID.
# Se realizo Mean Encoding para el territory segun su TRF
# Se realizó binary encoding para todos las features categóricas
# Se crearon features relacionadas a rangos en días entre dos fechas
# Se agregó la columna "target" la cual tiene 1/0 según es "Closed Won" o no
# Se eliminó la columna "Stage"


# feature engineering

path = "datasets/"
name = "featureEngineering"
#finalTrain.to_csv(path+name+"-train.csv", index = False)
#finalTest.to_csv(path+name+"-test.csv", index = False)