In [54]:

from sklearn.metrics import mean_squared_error
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [55]:
lgm = pd.read_csv("../submits/lgm_tunned_classifier.csv")
lgm

      Opportunity_ID    Target
0              10689  0.929982
1              10690  0.697446
2              10691  0.428577
3              10692  0.281747
4              10693  0.967341
...              ...       ...
1562           12364  0.985580
1563           12365  0.055137
1564           12366  0.027312
1565           12367  0.763994
1566           12368  0.018994

[1567 rows x 2 columns]

In [56]:
xgb = pd.read_csv("../submits/xgb-clf-tunned-beta2.csv")
xgb

      Opportunity_ID    Target
0              10689  0.966305
1              10690  0.693322
2              10691  0.390785
3              10692  0.359057
4              10693  0.974250
...              ...       ...
1562           12364  0.966379
1563           12365  0.247117
1564           12366  0.172353
1565           12367  0.659700
1566           12368  0.101691

[1567 rows x 2 columns]

In [57]:
ensamble1 = xgb.join(lgm, lsuffix="_XGB", rsuffix="_LGM")
ensamble1["ensamble_average"] = ensamble1.apply(lambda x: (x['Target_XGB']+x["Target_LGM"])*0.5, axis=1)
ensamble1 = ensamble1.drop(["Target_XGB", "Opportunity_ID_LGM", "Target_LGM"], axis=1)
ensamble1.columns = ['Opportunity_ID', 'Target']
ensamble1.to_csv("ensamble-XGB-LGBM.csv", index = False)

In [58]:
xgb2 = pd.read_csv("../submits/xgb-clf-tunned-beta28.csv")
xgb2

      Opportunity_ID    Target
0              10689  0.979048
1              10690  0.686194
2              10691  0.271285
3              10692  0.277032
4              10693  0.988002
...              ...       ...
1562           12364  0.990097
1563           12365  0.117171
1564           12366  0.086925
1565           12367  0.863993
1566           12368  0.164749

[1567 rows x 2 columns]

In [61]:
ensamble2 = xgb2.join(lgm, lsuffix="_XGB", rsuffix="_LGM")
ensamble2["ensamble_average"] = ensamble2.apply(lambda x: (x['Target_XGB']+x["Target_LGM"])*0.5, axis=1)
ensamble2 = ensamble2.drop(["Target_XGB", "Opportunity_ID_LGM", "Target_LGM"], axis=1)
ensamble2.columns = ['Opportunity_ID', 'Target']
ensamble2.to_csv("ensamble-XGB-LGBM-v2.csv", index = False)